{% set root = './' %}
{% set pageTitle = "Title 1" %}

{% extends "layout.tmpl.njk" %}
{% block content %}

  {# Header #}
  {% include "blocks/header.tmpl.njk" %}

  <span>HEllo</span>
  <div class="margin-md-50t">
    <span>Hi</span>
  </div>

  {# Footer #}
  {% include "blocks/footer.tmpl.njk" %}

{% endblock %}