<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  
        <title>{{ pageTitle }}</title>

        <!-- FONTS -->

        <!-- STYLES -->
        <link rel="stylesheet" id="fonts-css" href="{{root}}assets/css/fonts.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="header-css" href="{{root}}assets/css/style.min.css" type="text/css" media="all">

    </head>
    <body>

        {% block content %}{% endblock %}

        <script type="text/javascript" src="{{root}}assets/js/libs/jquery.js"></script>
        <script type='text/javascript' src='{{root}}assets/js/main.min.js'></script>
    </body>
</html>